@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  width: 50vw;
  padding: 20px;
  display: flex;
  align-items: center;
  /* max-width: 600px; */
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #4de5f0;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #000000;
  background-color: #4de5f0;
  border-radius: 8px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #4de5f0;
  margin-bottom: 8px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.blog-info {
  display: flex;
  justify-content: space-between;
}

.blog-info p{
  padding-right: 2em;
}

.button {
  margin-right: 8px;
}

.home {
  display: block;
  width: 50vw;
  padding-left: 25vw;
  padding-top: 30px;
}

/* create new blog form */
.blog-preview {
  display: flex;
}

.create {
  padding-top: 5em;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #4de5f0;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create textarea {
  height: 20em;
}

.create button {
  background: #4de5f0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover{
  opacity: 0.7;
}

.blog-detail-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}


.blog-detail-preview h2 {
  font-size: 20px;
  color: #4de5f0;
  margin-bottom: 8px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.blog-detail-info {
  display: flex;
  justify-content: space-between;
}

.blog-detail-info > p{
  padding-right: 2em;
}

.blog-detail-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.signup {
  padding-top: 5em;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.signup label {
  text-align: left;
  display: block;
}
.signup h2 {
  font-size: 20px;
  color: #4de5f0;
  margin-bottom: 30px;
}
.signup input, .signup textarea, .signup select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.signup textarea {
  height: 20em;
}

.signup button {
  background: #4de5f0;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.signup button:hover{
  opacity: 0.7;
}

.hidden {
  display: none;
}

.pagination {
  list-style-type: none;
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.pagination .selected{
  background-color: #4de5f0;
  border-radius: 8px;
}

.pagination a {
  float: left;
  padding: 8px 16px;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 8px;
}

.text-danger {
  color: red;
  background-color: rgb(247, 245, 245);
  border-radius: 8px;
}